<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015370273342-3hclhakeg76tasm9v6qg91th67p4kqjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015370273342-3hclhakeg76tasm9v6qg91th67p4kqjo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1015370273342-c44s28313vtni9d39s86t9rrfagn3bqf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBghyDHseDro2N60bAkXfnMF3d06OqMD1c</string>
	<key>GCM_SENDER_ID</key>
	<string>1015370273342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.divvyrlease</string>
	<key>PROJECT_ID</key>
	<string>divvysafe-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>divvysafe-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015370273342:ios:9acf2926b310521abff76f</string>
	<key>DATABASE_URL</key>
	<string>https://divvysafe-prod-default-rtdb.firebaseio.com</string>
</dict>
</plist>